<%= form_with(model: leaderboard, local: true) do |form| %>
  <% if leaderboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(leaderboard.errors.count, "error") %> prohibited this leaderboard from being saved:</h2>

      <ul>
        <% leaderboard.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= label_tag(:leaderboard_id, "Leaderboard id") %>
    <%= text_field_tag(:leaderboard_id, nil, { required: true, placeholder: 'e.g. 1234567', class: 'input' }) %>
    <p class="help">
      The ID of your private Leaderboard. It can be found at the end of the url of your Leaderboard
      https://adventofcode.com/<%= Date.current.year %>/leaderboard/private/view/<b>XXXX</b>
    </p>
  </div>

  <div class="field">
    <%= label_tag(:token, "Session token") %>
    <p class="control has-icons-left">
      <%= password_field_tag(:token, nil, { required: true, placeholder: 'e.g. ****', class: 'input' }) %>
      <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
    </p>
    <p class="help">
      A session cookie token from Advent of Code website. It can be found in a request header from the devtool of your
      browser.<br>
    </p>
  </div>

  <div class="level">
    <span class="level-item"></span>
    <%= form.button('Confirm', class: 'button is-primary') %>
    <span class="level-item"></span>
  </div>
<% end %>
