<div class="is-grouped">
  <div class="field">
    <label class="label">Channel</label>
    <%= @post_config.channel %>
  </div>

  <div class="field">
    <label class="label">Webhook url</label>
    <%= @post_config.webhook_url %>
  </div>

  <div class="field">
    <label class="label">Order by</label>
    <%= @post_config.order_by.capitalize %>
  </div>

  <div class="field">
    <label class="label">Display other</label>
    <%= @post_config.display_other %>
  </div>
</div>

<div class="level">
  <span class="level-item"></span>
  <%= button_to edit_post_configs_leaderboards_path(@leaderboard), method: :get, class: 'is-primary' do %>
    Edit
  <% end %>
  <%= button_to leaderboard_path(@leaderboard), method: :delete, data: { confirm: "Are you sure?" }, class: 'is-danger' do %>
    Delete
  <% end %>
  <%= button_to slack_test_leaderboards_path(@leaderboard), method: :post, class: 'is-info' do %>
    Send test
  <% end %>
  <span class="level-item"></span>
</div>
