<div class="is-grouped">
  <div class="field">
    <label class="label">Channel</label>
    <%= @post_config.channel %>
  </div>

  <div class="field">
    <label class="label">Webhook url</label>
    <%= @post_config.webhook_url %>
  </div>

  <div class="field">
    <label class="label">Order by</label>
    <%= @post_config.order_by.capitalize %>
  </div>

  <div class="field">
    <label class="label">Display other</label>
    <%= @post_config.display_other %>
  </div>
</div>

<div class="level">
  <span class="level-item"></span>
    <%= button_to 'Edit', edit_post_configs_leaderboards_path(@leaderboard), method: :get, class: 'button is-primary mx-2' %>
    <%= button_to 'Delete', leaderboard_path(@leaderboard), method: :delete, data: { confirm: "Are you sure?" }, class: 'button is-danger mx-2' %>
    <%= button_to 'Send test', slack_test_leaderboards_path(@leaderboard), method: :post, class: 'button is-info mx-2' %>
  <span class="level-item"></span>
</div>
