<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KDYKGS7STB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-KDYKGS7STB');
    </script>
    <title>AdventOfCodeSlackBot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Advent of code - Slack
        </h1>
      </div>
    </div>
  </section>
    <div class="container">
      <%= yield %>
    </div>
  </body>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <a href="https://adventofcode.com">Advent of Code</a>
        -
        <i class="fab fa-github"></i> <a href="https://github.com/Bhacaz/Advent-of-Code-Slack">Source Code</a>
      </p>
    </div>
  </footer>
</html>
